{% extends 'base.html' %}

{% block title %} Home{% endblock title %}

{% block body %}
<div class="container">
    <div class="jumbotron my-3">
      <h1 class="display-4">Welcome to iCoder!</h1>
      <p class="lead">Your daily dose of code, tech insights, and developer wisdom — all in one place.</p>
      <hr class="my-4">
      <p>Powerful insights, clean code samples, and community-driven learning—all under one roof.</p>
      <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
      </div>
    </div>
    <div class="container">

    <h2>Popular Blogposts</h2>
    <div class="row mb-2">
      {% for post in top_posts %}
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis">
                {{ post.category.name|default:"General" }}
              </strong>
              <h3 class="mb-0">{{ post.title }}</h3>
              <div class="mb-1 text-body-secondary">
                {{ post.published_at|date:"M d" }}
              </div>
              <p class="card-text mb-auto">
                {{  post.content|striptags|truncatewords:20 }}
              </p>
              <div class="my-2">
                <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
              </div>
            </div>
            <div class="col-auto d-none d-lg-block">
              {% if post.thumbnail %}
                <img src="{{ post.thumbnail.url }}"
                     alt="Thumbnail for {{ post.title }}"
                     width="200" height="250" class="bd-placeholder-img">
              {% else %}
                <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img"
                     width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" role="img">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c"></rect>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </svg>
              {% endif %}
            </div>
          </div>
        </div>
    
        {% if forloop.counter|divisibleby:2 and not forloop.last %}
    </div>
    <div class="row mb-2">
        {% endif %}
      {% endfor %}
    </div>
    
{% endblock %}


